# Build Artifacts
WrathCombo/obj/
WrathCombo/bin/
WrathCombo.Tests/obj/
WrathCombo.Tests/bin/

# IDE-specific files
.idea/
/WrathCombo.sln.DotSettings.user
.vs/
*.v2
/WrathCombo/packages.lock.json
*.csproj.user
# Added by code-review-graph
.code-review-graph/
